$button: #666
$list: #f3f3f3

body
    margin: 0
    padding: 0
    font-family: arial

.wrapper
    width: 90vw
    max-width: 900px
    position: relative
    left: 50%
    transform: translate(-50%,0)
    padding-top: 10vh
    padding-bottom: 50vh

.header
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-bottom: 80px

img
    height: 120px
    //fill: #FF7269

h1
    color: $button
    display: inline-block

button
    background-color: $button
    display: inline-block
    border-radius: 40px
    font-size: 10pt
    border: none
    color: white
    text-decoration: none
    height: 50px
    padding: 0px 15px
    transition: 0.2s
    cursor: pointer
    margin: 10px
    &:hover
        background-color: darken($button, 10%)
    &:focus
        outline: 0

.list
    display: flex
    align-items: center
    flex-wrap: wrap
    border-radius: 40px
    margin-bottom: 15px
    padding: 0 20px
    min-height: 40px
    background-color: $list
    &:nth-child(even)
        background-color: lighten($list, 2%)

.list p
    display: inline-block
    margin-left: 20px
    color: $button
    font-weight: bold

p:nth-child(2)
    flex-grow: 1
    color: $button
    font-size: smaller

a
    height: 100%
    min-width: 50px
    cursor: pointer

.block-formula
    background-color: #fafafa
    padding: 20px 40px
    padding-bottom: 20px
    margin-top: 10px

.formula
    width: 100%
    overflow: auto

.formula-text
    margin-bottom: 0.5rem

.block-maple
    background-color: #f4f4ff
    padding: 20px 40px
    padding-bottom: 20px

.input
    color: #000
    overflow: auto

.output
    color: #00f
    display: flex
    justify-content: center
    overflow: auto

.mathml
    margin-top: 150px

.block-maple p
    color: $button
    font-weight: bold

.block-formula p
    color: $button
    font-weight: bold

h2
    margin-top: 100px

.sectionTitle > h2
    margin: 0
    color: $button

.sectionTitle > svg
    fill: #aaa
    
.sectionTitle
    margin-bottom: 40px
    padding: 10px 0px
    transition: 0.2s ease-in-out
    display: flex
    align-items: center
    justify-content: space-between
    &:hover
        cursor: pointer

.sectionTitle svg
    transition: transform 0.2s ease-out

.blocks
    overflow: hidden
    transition: max-height 0.2s ease-out
    //max-height: 6000px
    margin-bottom: 80px

.sectionTitleClosed
    margin-bottom: 0px

.blocksClosed
    display: none
    margin: 0

.triangleClosed
    transform: rotate(90deg)

.output img
    height: 200px
    mix-blend-mode: multiply

@media only screen and (max-width: 900px)

    .wrapper
        width: 95vw